* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: ivory;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    color: seagreen;
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .app-box {
        width: 200px;
        height: 200px;
        border: 1px solid seagreen;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s ease;

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.5em;
            color: seagreen;
            text-decoration: none;
        }

        &:hover {
            background-color: seagreen;

            a {
                color: #fff;
            }
        }
    }
}